@import '../../../../styles/constants/index.scss';
@import '../../../../styles/_mixins.scss';

.about {
  padding-top: 80px;

  @media screen and (max-width: $deviceSizeXS) {
    padding: 100px 0;
  }

  &__container {
    justify-content: unset;
    align-items: unset;
  }
  .slick-list {
    margin: 0 20px 100px;

    @media screen and (max-width: $deviceSizeXS) {
      margin: 0 0 80px;
    }
  }

  .slick-arrow {
    @media screen and (max-width: $deviceSizeXS) {
      display: none;
    }
  }
  .slick-dots {
    li {
      width: 18px;
      height: 18px;
      border: 1px solid $textPrimary;
      border-radius: 50%;

      button {
        color: none;
      }
    }
  }
}
