@import '../../../../styles/constants/index.scss';
@import '../../../../styles/_mixins.scss';

.about {
  padding-top: 80px;
  &__container {
    justify-content: unset;
    align-items: unset;
  }
  .slick-list {
    padding-bottom: 100px;
  }

  .slick-dots {
    li {
      width: 18px;
      height: 18px;
      border: 1px solid $textPrimary;
      border-radius: 50%;

      button {
        color: none;
      }
    }
  }
}
