@import '../../../../styles/constants/index.scss';
@import '../../../../styles/_mixins.scss';

.footer {
  padding-top: 80px;
  background-color: $mainColor;
  &__container {
    display: block;
    color: $white;
    font-size: $fontSizeBase;

    @media screen and (max-width: $deviceSizeXS) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
