@import './../../styles/index.scss';

.landing {
  position: relative;
  font-family: $fontFamilyBaseRegular;

  &__button-up {
    position: fixed;
    right: 14px;
    bottom: 24px;

    div {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
