@import '../../../../styles/constants/index.scss';
@import '../../../../styles/_mixins.scss';

.portfolio {
  background-image: url(./../../../../assets/images/portfolio-bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 110px;

  &__container {
    min-height: 610px;
    padding-top: 88px;
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
