@import '../../styles/constants/index.scss';
@import '../../styles/_mixins.scss';

.logo {
  font-family: $fontFamilyBaseLight;
  font-size: 36px;
  min-width: 218px;
  white-space: nowrap;
  color: $mainColor;

  @media screen and (max-width: $deviceSizeXS) {
    line-height: 46px;
    padding-bottom: 8px;
  }

  span:first-child {
    font-family: $fontFamilyBaseBold;
  }
}
